$--color-primary: #17B3A3;
$themeColor: #1962d5;
$themeColor_hover:#4781dd;
$taberBjColor:#eff5ff;  // 移入背景色
$btnText:#00409d;

// Navbar
$navbar--background-color: $--color-primary;

// Sidebar tab
$sidebar--background-color-dark: #144fa5;
$sidebar--color-text-dark: #c1bfbd;

// Content
$content--background-color: #f1f5fb; //背景色

// 多种颜色
$color_800:#fcc800;
$color_100:#8a5100;
$color_743:#4c4743;
$color_230:#ffb230;
$color_c44:#ed6c44;
$color_279:#c3a279;