<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue_demo</title>
	<style type="text/css"></style>
	<script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
	<div id="app">
	<p>{{appname}}</p>
		
		<input v-model="appname">
	</div>
	<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			appname:'hello,vue'
		}
	})
	</script>

	<div id="app1">
	  <ul>
	    <li v-for="todo in todos">
	      {{ todos }}
	    </li>
	  </ul>
	</div>
	<script type="text/javascript">
		new Vue({
		  el: '#app1',
		  data: {
		    todos: ['Learn JavaScript','Learn Vue.js','Build Something Awesome' }
		    ]
		  }
		})
	</script>
</body>
</html>